* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: crosshair;
}

:root {
  --bg-primary: #000000;
  --surface-color: #3b3b3d;
  --text-main: #fffdf7;
  --text-muted: #545456;
  --gradient:
    radial-gradient(80% 80% at 100% 0%, #545456 0%, #3b3b3d 20%, #000 60%),
    radial-gradient(80% 80% at 0% 100%, #545456 0%, #3b3b3d 20%, #000 60%);
  --border-color: #3b3b3d;
}

.dark-mode {
  --bg-primary: #fffdf7;
  --surface-color: #f1f1f3;
  --text-main: #18181a;
  --text-muted: #6b6b6d;
  --gradient:
    radial-gradient(80% 80% at 100% 0%, #6b6b6d 0%, #f1f1f3 20%, #fffdf7 60%),
    radial-gradient(80% 80% at 0% 100%, #6b6b6d 0%, #f1f1f3 20%, #f1f1f3 60%);
  --border-color: #3b3b3d
}

.theme-toggle {
  position: relative;
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 50px;
  background: var(--text-main);
  cursor: pointer;
  padding: 0;
  overflow: hidden;
  transition: background 0.3s ease;
}

.toggle-ball {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: var(--bg-primary);
  transition: transform 0.3s ease;
}

/* Ícones */
.toggle-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  font-size: 20px;
  line-height: 1;
  transition: opacity 0.3s ease;
}

.sun {
  left: 10px;
  color: #fff;
}

.moon {
  right: 10px;
  color: var(--text-main);
  opacity: 0;
}

/* DARK MODE */
body.dark-mode .theme-toggle {
  background: var(--text-muted);
}

body.dark-mode .toggle-ball {
  transform: translateX(50px);
  background: var(--bg-primary);
}

body.dark-mode .sun {
  opacity: 0;
}

body.dark-mode .moon {
  opacity: 1;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

body {
    background: var(--gradient);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-main);
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin-bottom: 10px;
    font-weight: 400;
}

h2 {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: var(--text-main);
}

p {
    font-size: 14px;

    a {
        color: var(--text-muted);
        text-decoration: none;
        font-weight: 300;
        cursor: pointer;
    }
}

label {
    margin-bottom: 5px;
}

input {
    background: rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--text-main);
    padding: 15px;
    border-radius: 12px;
}

input:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px #00000033;
    transition: 0.5s ease-in-out;
    color: var(--text-main);
}




.btn {
    background-color: var(--surface-color);
    color: var(--text-main);
    padding: 15px;
    border-radius: 12px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background: rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--text-main);
    box-shadow:
        0 15px 30px rgba(0, 0, 0, 0.2),
        inset 0 -5px 10px rgba(0, 0, 0, 0.1),
        0 20px 35px rgba(172, 172, 172, 0.3);
    transition: 0.5s ease-in-out;
}



span {
    color: var(--text-muted);
}

.container {
    padding: 32px;
    padding: 35px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 30px;
    gap: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}